@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

.cormorant-garamond-regular {
  font-family: "Cormorant Garamond", serif;
  /* font-weight: 400; */
  font-style: normal;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-x: hidden;
}

.hero-section {
  background: linear-gradient(0deg, rgba(2, 2, 2, 0.3), rgba(0, 0, 0, 0.3)),
    url("/hero_section.png") no-repeat center center/cover;
}


.explore-text h1 {
  line-height: normal;
}

.private-retreats h1 {
  line-height: normal;
}

.services .sticky_parent {
  position: relative;
  width: 100%;
  height: 300vh;
}

.demand-luxury {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/Interior_car.jpeg") center center/cover no-repeat;
}

.services .sticky {
  overflow: hidden;
  position: sticky;
  top: 0;
  bottom: 71px;
  width: 100%;
  height: 1082px;
  background: linear-gradient(0deg, rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.7)),
    url("/woman_bed.jpeg") center center/cover no-repeat;
}

.memories .sticky_parent {
  position: relative;
  width: 100%;
  height: 300vh;
}

.memories .sticky {
  overflow: hidden;
  position: sticky;
  top: 0;
  bottom: 71px;
  width: 100%;
  height: 943px;
  /* background-color: #171010; */
}

.services .scroll_section {
  position: absolute;
  top: 100px;
  width: 500vh;
  height: 100%;
  will-change: transform;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 46px;
}

.memories .scroll_section {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 300vh;
  will-change: transform;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 81px;
}

.service_image {
  position: relative;
  display: flex;
}

.service_image:nth-child(odd) {
  min-width: 600px;
  width: 600px;
  height: 328px;
  justify-content: center;
  align-items: self-end;
}

.service_image p {
  position: relative;
  z-index: 10;
  display: flex;
}

.service_image:nth-child(odd) p {
  bottom: -1rem;
  left: 1%;
  text-align: center;
}
.service_image:nth-child(even) p {
  position: absolute;
  bottom: -1rem;
  left: 1px;
  transform: rotate(270deg);
  transform-origin: 0%;
  white-space: nowrap;
}

.service_image:nth-child(even) {
  min-width: 373px;
  width: 373px;
  height: 524px;
  justify-content: center;
  align-items: self-end;
  position: relative;
  /* rotate: 270deg; */
}

.service_image .overlay, .experience .overlay, .events-header .overlay, .overlay{
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.about-page-header .overlay{
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.about-page-header .car-overlay{
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.white-overlay{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

.Visas p{
  font-size: 35px;
}

.memory_image {
  position: relative;
  width: 373px;
  height: 490px;
}

.mobile-nav .hamburger {
  width: 22.5px;
  height: 2px;
  background-color: white;
}

.mobile-nav .mobile-nav-menu {
  transform: translateY(-200px);
  position: absolute;
}

.reveal-nav {
  animation: reveal-nav 0.3s ease-in-out forwards;
  /* transition: ease-in-out; */
}

.hide-nav {
  animation: hide-nav 0.3s ease-in-out forwards;
}

.reveal-options {
  animation: reveal-options 0.1s ease-in-out forwards;
}

.hide-options {
  animation: hide-options 0.3s ease-in-out forwards;
  display: none;
}

.header-section {
  background: url("/desert_experience.jpeg") bottom center/cover no-repeat;
  background-size: cover;
}

.experiences {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(43.277svw, 1fr));
  row-gap: 16px;
  column-gap: 6px;
}

.md{
  display: flex !important;
  flex-direction: column;
  justify-content: start !important;
  align-items: start !important;
  gap: 1rem;
}

.mouse-over-pan{
  animation: pan-img 0.3s ease-in-out forwards;
}

.mouse-over-no-pan{
  animation: no-pan-img 0.3s ease-in-out forwards;
}

/* About Page */

.about-page-header {
  background: linear-gradient(0deg, rgba(2, 2, 2, 0.6), rgba(0, 0, 0, 0.6)),
    url("/infinity_pool.jpeg") no-repeat center center/cover;
}

.bespoke-concierge-container{
  background: linear-gradient(0deg, rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.7)),
  url("/travel-about.jpeg") no-repeat center center/cover;
}


@keyframes pan-img {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.2);
  }
}

@keyframes no-pan-img {
  0%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}


@keyframes reveal-nav {
  0% {
    transform: translateY(-200px);
    opacity: 0;
    height: 0px;
  }
  80% {
    height: 0px;
  }
  100% {
    top: 80px;
    left: 0;
    transform: translateY(0px);
    height: fit-content;
    opacity: 1;
  }
}
@keyframes hide-nav {
  0% {
    transform: translateY(0px);
    opacity: 1;
    height: fit-content;
  }
  20% {
    height: 0px;
  }
  100% {
    transform: translateY(-200px);
    height: 0;
    opacity: 0;
  }
}

@keyframes reveal-options {
  0%{
    display: none;
    opacity: 0;
    transform: translateY(-500%);
    height: 0px;
  }
  80%{
    display: flex;
    opacity: 0;
  }
  100%{
    display: flex;
    height: fit-content;
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide-options {
  0%{
    display: flex;
    opacity: 1;
    transform: translateY(0px);
    height: fit-content;
  }
  20%{
    opacity: 0.2;
    display: none;
  }
  100%{
    display: none;
    opacity: 0;
    transform: translateY(-500%);
    height: 0px;
  }
}

.mobile-only {
  @apply flex lg:hidden;
}

.desktop-only {
  @apply lg:flex hidden;
}

.form-field-border-style{
  @apply font-noah border rounded-none border-l-0 border-t-0 border-r-0;
}

.flex-center{
  @apply flex justify-center items-center;
}

@media screen and (max-width: 361px) {
    .experiences {
        margin-top: 6rem;
    }
}

@media screen and (min-width: 362px) and (max-width: 1279px) {
    .experiences {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1280px) {
  .experiences {
    grid-template-columns: repeat(auto-fit, minmax(21.198vw, 1fr));
  }

  .services,
  .memories h1 {
    line-height: 1;
  }

  .header-content h1 {
    font-size: 88px;
    line-height: 110px;
  }
  /* 
  .header-section .content h1{
    line-height: 5rem;
  } */
}

@media screen and (max-width: 1440px) {
  .services .sticky {
    height: 890px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
  .service_image:nth-child(odd) {
    min-width: 341px;
    width: 341px;
    height: 190px;
  }

  .service_image:nth-child(even) {
    min-width: 218px;
    width: 218px;
    height: 298px;
  }

  .service_image p{
    font-size: larger;
  }

}

.table-region::-webkit-scrollbar{
  display: none;
}


@media screen and (max-width: 1024px) {
  .service_image:nth-child(odd) {
    min-width: 341px;
    width: 341px;
    height: 190px;
  }

  .service_image:nth-child(even) {
    min-width: 218px;
    width: 218px;
    height: 298px;
  }

  .services .scroll_section {
    width: 600vw;
  }

  .services .sticky_parent {
    height: 600vh !important;
  }

  .memories .scroll_section {
    gap: 20px;
    align-items: start;
  }

  .memory_image {
    position: relative;
    width: 100px;
    height: 130px;
  }

  .Visas p{
    font-size: 1.2rem;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @font-face {
    font-family: "IvyPresto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Ivy Presto/Ivy Presto 3.otf") format("otf");
  }
}

.footer {
  background-image: url("/footer_background.jpeg");
}

input {
  @apply bg-transparent border-b-[1px] py-1 outline-none w-full;
}

#input-container {
  @apply relative flex flex-col w-full;
}

#input-textarea {
  @apply bg-transparent border-b-[1px] py-1 outline-none w-full;
}

@-webkit-keyframes autofill {
  0%,
  100% {
    color: #666;
    background: transparent;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}