@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

.cormorant-garamond-regular {
  font-family: "Cormorant Garamond", serif;
  /* font-weight: 400; */
  font-style: normal;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-x: hidden;
}

.hero-section {
  background: linear-gradient(0deg, rgba(2, 2, 2, 0.3), rgba(0, 0, 0, 0.3)),
    url("/hero_section.png") no-repeat center center/cover;
}

.explore-text h1 {
  line-height: normal;
}

.private-retreats h1 {
  line-height: normal;
}
.services,
.memories h1 {
  line-height: 1;
}

.services .sticky_parent {
  position: relative;
  width: 100%;
  height: 300vh;
}

.demand-luxury {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/interior_car.jpeg") center center/cover no-repeat;
}

.services .sticky {
  overflow: hidden;
  position: sticky;
  top: 0;
  bottom: 71px;
  width: 100%;
  height: 1082px;
  background: linear-gradient(0deg, rgba(2, 2, 2, 0.3), rgba(0, 0, 0, 0.3)),
    url("/woman_bed.jpeg") center center/cover no-repeat;
}

.memories .sticky_parent {
  position: relative;
  width: 100%;
  height: 300vh;
}

.memories .sticky {
  overflow: hidden;
  position: sticky;
  top: 0;
  bottom: 71px;
  width: 100%;
  height: 943px;
  /* background-color: #171010; */
}

.services .scroll_section {
  position: absolute;
  top: 100px;
  width: 500vh;
  height: 100%;
  will-change: transform;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 46px;
}

.memories .scroll_section {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 300vh;
  will-change: transform;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 81px;
}

.service_image {
  position: relative;
  display: flex;
}

.service_image:nth-child(odd) {
  width: 600px;
  height: 328px;
  justify-content: center;
  align-items: self-end;
}

.service_image p {
  position: relative;
  z-index: 10;
  display: flex;
}

.service_image:nth-child(odd) p {
  bottom: -1rem;
  left: 1%;
  text-align: center;
}
.service_image:nth-child(even) p{
  position: absolute;
  bottom: -1rem;
  left: 1px;
  transform: rotate(270deg);
  transform-origin: 0%;
  white-space: nowrap;
}

.service_image:nth-child(even) {
  width: 373px;
  height: 524px;
  justify-content: center;
  align-items: self-end;
  position: relative;
  /* rotate: 270deg; */
}

.service_image .overlay{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.memory_image {
  position: relative;
  width: 373px;
  height: 490px;
}

@media screen and (max-width: 1024px) {
  .service_image:nth-child(odd) {
    width: 341px;
    height: 190px;
  }

  .service_image:nth-child(even) {
    width: 218px;
    height: 298px;
  }

  .services .scroll_section {
    width: 280vw;
  }

  .services .sticky_parent {
    height: 350vh;
  }

  .memories .scroll_section {
    gap: 20px;
    align-items: start;
  }

  .memory_image {
    position: relative;
    width: 100px;
    height: 130px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @font-face {
    font-family: "IvyPresto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Ivy Presto/Ivy Presto 3.otf") format("otf");
  }
}

.footer {
  background-image: url("/footer_background.jpeg");
}

input {
  @apply bg-transparent border-b-[1px] py-1 outline-none w-full;
}

#input-container {
  @apply relative flex flex-col w-full;
}

#input-textarea {
  @apply bg-transparent border-b-[1px] py-1 outline-none w-full;
}
